# Untracked files
*.o
crout-test.cc
lu-crout.cc
infile*
*?*.swp
Makefile
.idea
CMakeLists.txt

# Visual studio project files
*.exe
*.sdf
*.sln
*.VC*
*.vc*

# Exclude OS specific folders
Chapter-7/Debug
Chapter-7/Release
